body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fundo claro */
    color: #333; /* Texto escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: white; /* Fundo branco para a caixa */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.emoji {
    width: 100px; /* Tamanho do emoji */
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
