body {
    margin: 0;
    height: 100vh;
    background-color: #1a1919;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.corner-text {
    color: #ffffff;
    font-size: 1.2em;
    text-align: right;
}

.highlight {
    color: #3498db; /* Azul claro */
    font-weight: bold;
}
