/* Estilos gerais */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Playpen Sans', sans-serif;
  background-image: url('https://i.postimg.cc/ydrWn0W4/ef1de645ee5484ef4e58018295f1603c-4.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos da Navbar */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.theme-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos da Sidebar */
.sidebar {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  right: -250px; /* Correção para esconder totalmente */
  width: 250px;
  height: 100%;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1001;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.active {
  right: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 1.2em;
}

/* Estilos da Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.hero h2 {
  font-size: 60px;
  color: #ffffff;
}

.hero h1 {
  color: #00faff;
  font-size: 120px;
}

.hero p {
  font-size: 40px;
  color: #ffffff;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.btn-blue {
  background-color: #007bff;
}

.btn-green {
  background-color: #28a745;
}

/* Modo escuro */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .sidebar {
  background-color: #333;
}

.dark-mode .sidebar a {
  color: #e0e0e0;
}

.dark-mode .sidebar a:hover {
  color: #bbb;
}

/* Media Queries para mobile */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3em;
  }

  .hero h2 {
    font-size: 1.5em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .navbar {
    padding: 0 10px;
  }

  .navbar .logo {
    font-size: 1.2em;
  }

  .sidebar {
    width: 200px;
  }
}
