body {
    margin: 0;
    background-color: #1e262a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.postimg.cc/cCc5x1T0/akonbanner.webp');
    background-size: cover;
    background-position: center;
}
