/* Estilos gerais para o corpo da página */
body {
    margin: 0;
    height: 100vh;
    background-color: #363534; /* Cor de fundo da página */
}

/* Estilos para a tela de carregamento */
#loading {
    position: fixed; /* Fixa a tela de carregamento sobre o conteúdo da página */
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    background: #363534; /* Cor de fundo da tela de carregamento */
    display: flex; /* Usa Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    z-index: 9999; /* Garante que a tela de carregamento fique acima de todo outro conteúdo */
}

/* Estilos para os caminhos SVG das letras */
path {
    stroke-dasharray: 1000; /* Define o comprimento total das linhas pontilhadas */
    stroke-dashoffset: 1000; /* Define o ponto inicial das linhas pontilhadas */
    animation: draw 4s ease-in-out forwards; /* Aplica a animação 'draw' */
}

/* Definição da animação para 'desenhar' as letras */
@keyframes draw {
    0% {
        stroke-dashoffset: 1000; /* Começa com a linha completamente oculta */
    }
    100% {
        stroke-dashoffset: 0; /* Termina com a linha completamente visível */
    }
}
