body {
    background-color: #1f1e1e;
    color: white;
    font-family: 'Itim', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    width: 100vw; /* Usa a largura total da tela */
    height: 100vh; /* Usa a altura total da tela */
}

.image-container {
    flex: 1; /* A imagem ocupa 50% da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%; /* A imagem ocupa toda a largura do container */
    height: auto; /* Mantém a proporção */
    max-height: 100%; /* Garante que a altura máxima não ultrapasse o contêiner */
    object-fit: contain; /* Mantém a proporção da imagem sem cortá-la */
}

.text-container {
    flex: 1; /* O texto ocupa 50% da tela */
    text-align: center; /* Centraliza o texto */
}

h1, h2 {
    margin: 0;
    padding: 10px;
    opacity: 0;
    transform: translateY(-30px);
    animation: slideIn 1.5s forwards;
}

h1 {
    font-size: 4em; /* Tamanho do texto em desktop */
    animation-delay: 0.5s;
}

h2 {
    color: #1941d1;
    font-size: 5em; /* Tamanho do texto de Katrina em desktop */
    animation-delay: 1s;
}

h3 {
    font-size: 3em; /* Tamanho do texto abaixo em desktop */
    opacity: 0;
    transform: translateY(30px);
    animation: slideInUp 1.5s forwards;
    animation-delay: 1.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .image-container {
        display: none; /* Oculta a imagem em dispositivos móveis */
    }

    .text-container {
        flex: 1; /* Mantém o espaço do texto */
        text-align: center; /* Centraliza o texto */
    }

    h1 {
        font-size: 2em; /* Ajuste para o título */
    }

    h2 {
        font-size: 2.5em; /* Ajuste para o nome Katrina */
    }

    h3 {
        font-size: 1.5em; /* Ajuste para o texto abaixo */
    }

    .text-container {
        max-width: 90vw; /* Usa quase toda a largura da tela no mobile */
    }
}
